[submodule "libraries/kjc_argparse"]
	path = libraries/kjc_argparse
	url = https://github.com/kjcolley7/kjc_argparse.git
[submodule "libraries/linenoise"]
	path = libraries/linenoise
	url = https://github.com/antirez/linenoise.git
