*.xcodeproj/
*.o
*.a
*.dylib
*.so
a.out
*.pyc
*.trap
*.gz
*.bz2
*.zst
.DS_Store
thumbs.db
._*
.build/
.phbuild
.pytest_cache/
.vscode/
.dir
.docker/
publish/
env.bash

bin/
*.peg

.gdb_history
peda-session-*.txt
.bash_history
